.account-page{
	// max-width: 100vw !important;
	// overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: flex;
	margin-right: 0 !important;
	.left{
		width: 50vw;
		display: flex;
		flex-direction: column;
		margin-left: 3.5vw;
		

		.pfp-cont{
			height: 15em;
			margin-top: 3em;
			margin-left: 0.1em;
			font-size: clamp(1.2rem,2vw,1.9rem);
			overflow: hidden;
			img{
			border-radius: 500px;
               
               height: 100%;
			}
			input{
				display: none;
			}
		}
		.username{
        	height: auto ;
        	min-height: 7em;
        	width: auto;
        	margin-left: 1.2em;
        	margin-top: 7vh;
        	margin-bottom: -2em;
        	color: #555555;
        	input{
        	height: 100%;

            width: 100%;
        	&::placeholder{
        	@include FancyFont(clamp(3.6rem,5vw,4.8rem),100) ;
        	// font-style: "Manrope",sans-serif !important;
            }
        }
        }
        .number{
        	margin-top: 2vh;
        }
		.number,.mail{
            margin-left: 1.2em;


			input{
            color: #555555;
			padding: 0;
			margin: 0;
			border-radius: 4px;
			margin-bottom: 2em;
			min-width: 32em;
			width: 40vw;
             padding-left: 2em;
			height: 4em;
			min-height: 3.2rem;
			background-color: #f1f1f1;
			@include Font(clamp(0.7rem,0.8vw,1rem),100) ;
			box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
		  }
		}

	}
	.right{
		// overflow: hidden;
		margin-top: 3vh;
		width: 46vw;
		margin-left: -2.1vw;
		max-height: 100vh;
			
		h1{
			@include FancyFont(2.2rem,100);
			color: #555555;
			margin-bottom: 0.3em;
			margin-top: 0.3em;
		}
		.btns{
			display: flex;
			margin-top: 3vh;
			button{
				border-radius: 3px;
			padding: 1em 9em;
			margin-right: 2em;
			@include Font(clamp(0.4em,0.8vw,1em),100);

			}
			.btn-1{
				background-color: #27002a;
				color: white;
			}
			.btn-2{
				background-color: transparent;
				border-style: solid;
				border-color: red;
				color: red;
			}
		}
		.adress{
		padding: 0;
		input{
		font-family: "Manrope",sans-serif !important;
		font-size: clamp(0.6em,1.11vw,1.4em) !important;
			padding: 0;
			margin: 0;
			
			width: 40em;
            box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
            padding-left: 1.4em;
            padding-bottom: 10em;
			height: 3em;
			background-color: #f1f1f1;
			&::placeholder{
            @include Font(1em,100) ;
            font-size: 1em !important;
        	
        	 
            }
		  }
		}
			.wishlist,.orders{
				
				height: auto !important;
				width: auto !important;
				.ash{
					
				}
                .images{
                	display: flex;
                	align-items: center;
                }
				.go-to{
					font-size: clamp(0.2rem,0.27vw,0.32rem) ;
					border-radius: 20em;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #f1f1f1;
					box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
					width: 27em !important;
					// max-width: 10em;
					height: 27em !important;
					// max-height: 10em;
					margin-left: 4em;
					img{
						opacity: 0.8;
						margin: 0 ;
						height: 40%;
					}
				}
				.images{
					display: flex;
				}
				height: 16em;
				// overflow: hidden;
				img{
					font-size: clamp(0.2rem,0.27vw,0.32rem) ;
					
					height: 32em;
					margin-right: 2em;
				}
			}
		
	}
	
}
@media (width<870px){
			.go-to{
                    font-size: clamp(0.13rem,0.36vw,0.24rem) !important;
			}
			.images{
				img{
					font-size: clamp(0.13rem,0.36vw,0.24rem) !important;
				}
			}
		.wishlist,.orders{
			min-width: 42vw;
			font-size: clamp(0.1rem,0.17vw,0.32rem) !important;
		}
	.account-page{
		flex-direction: column;
		width: fit-content;
		.lists{
			display: flex;
			justify-content: space-between;
		}
		.left , .right{
		width: 90vw !important;

		}
		.left: {

		}
		.right{
			margin-left: 4vw;

		}
		.pfp-cont{
            width: 100vw;
			font-size: max(1.2em,3vw);
			height: auto !important;
			margin-bottom: -2em;
			margin-top: 1rem !important;
			img{
				width: 92.5%;
			}
		}
		.username{
            
			margin-left: 1vw !important;
			input{
			font-size: 0.7em !important;
		}

		}
		.number{
			margin-top: max(0.4vh,0.6rem) !important;
			margin-bottom: 0.4rem;
		}
		.number , .mail{
			margin-left: 0 !important;
			input{
			height: 1.6rem !important;
			width: 90vw !important;
		}
		}
		.adress{
			input{
			width: 90vw !important;
		}
		}
		.btns{
			padding: 0 !important;
			width: 100vw;
			margin-bottom: max(2rem,4vh) !important;
			button{
				padding: 0 !important;
				width: 45vw;
				height: max(2em,5vh);
			}
		}
	}
}
@media (width<590px) {
	.wishlist , .orders{
		min-width: 40px;
	}
	.lists{
		display: flex;
		flex-direction: column;
	}
	.go-to{
		width: 100vw;
                    font-size:clamp(0.16rem,0.7vw,1rem) !important;
			}
			.images{
				img{
					font-size:clamp(0.16rem,1vw,1rem) !important;
				}
			}
	
}