@keyframes animation-1 {
	0%{

		transform: rotate(0deg);

	}
	30%{
		transform: rotate(3deg);
		
	}
	100%{
		transform: translate(65em);
	}
}

@keyframes animation-2 {
	0%{
		transform: rotate(3deg);
		transform: translate(65em);
	}
	50%{
		transform: translate(0vw);
		
		
	}
	100%{
         transform: rotate(0deg);
	}
}
@keyframes animation-3 {
	0%{

		transform: rotate(0deg);

	}
	30%{
		transform: rotate(-3deg);
		
	}
	100%{
		transform: translate(-65em);
	}
}

@keyframes animation-4 {
	0%{
		transform: rotate(-3deg);
		transform: translate(-65em);
	}
	50%{
	transform: translate(0);
		
		
	}
	100%{
         transform: rotate(0deg);
	}
}




@keyframes appeared {
	0%{
          opacity: 0;
         
	}
	100%{
            opacity: 1;
            
	}
}
@keyframes side-e-bhaya {
	0%{
		opacity: 1;
		display: flex;
	}
	90%{
		opacity: 0;
		width: 0;
		margin: 0;
		
	}
	100%{
		opacity: 0;
		width: 0;
		margin: 0;
		
	}
}
@keyframes goner {
	0%{
		opacity: 1;
		
	}
	100%{
		opacity: 0;
		
	}
}

@keyframes side-e-bhaya-2 {
	0%{
		
	}
		100%{
		margin-left: 15vw;
		
	}
}
@keyframes hover-on {
	from{
		top:50%;
	}
	to{
		top:0;
	}
}
@keyframes hover-off {
	from{
		top:0;
	}
	to{
		top:100%;
	}
}
@keyframes side-anime-start {
    0%{
    	right: 0;
    }
    70%{
    	
    	opacity: 0.9;
    }
    100%{
        right: -12em;
        opacity: 1;
    }

}
@keyframes nav {
	0%{
		position: absolute;
	}

	100%{
		position: absolute;
		
		top: 0;
	}
}
@keyframes nav2 {
	0%{
        opacity: 1;
	}
    
	100%{
       opacity: 0;
	}
}