.center{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.total-bill{
	position: relative;
	
	.int-bill{
		transition: 1s ease-in-out;
	}
	.ext-bill{
	    // display: block;
	    // flex-direction: column;
	    // justify-content: center;
	    // align-items: center;
	    // margin-top: 11vh;
	    animation-name: appeared;
	    animation-timing-function: ease-in-out;
	    animation-duration: 0.5s;
	    animation-fill-mode: forwards;
	    z-index: 2;
        
		position: relative;
	    overflow: hidden;
		// position: absolute;
		// top: 14%;
		// left: 36vw;
		width: 28vw;
		min-width: 22rem;
		max-width: 27rem;
		min-height: 520px;
		max-height: 68vh;
		height: 48vw;
		background-color: white;
		border-radius: 5px;
		h1{
			margin-bottom: 3rem;
			background-color: #B1B2B5;
			opacity: 0.8;
			
			@include FancyFont(3em,100);
			text-align: center;
			width: 70%;
			border-radius: 4px;
			padding: 0.4rem 0.7rem;
			
			color: white;
		}
		img{
			position: absolute;
			top: 0;
			left: -80%;
			height: 140%;
			z-index: 1;
		}
		
	}
}
.bill-page{

	width: 100vw;
	height: auto;
	min-height: 100vh;
	background-color:  #e5e5e5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
		 .items{
  width: 40%;
 }
 .items{
 	width: 100%;
 }
 .content {
 	   margin-top: min(20vh,6.4em);
     width: 60%;
     margin-bottom: 5vh;
}
 .item{
  border-radius: 1px;
 	display: flex;
 	align-items: center;
 	width: 100%;
 	height: 13em;
 	max-height: 8vw;
 	background-color: #ececec;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;	
  margin: 8px 0 ;
 	.image {
 		width: 17%;
 		margin-left: 3%;
 		img {
 		font-size:  clamp(0.7rem,1vw,5rem) !important;
 	   height:6em !important;
 	  }
 	}
 	.title{
 		width: 34% ;
 		h1{
 			color:#a0a5ab;
  		@include Font(clamp(0.7rem,0.9vw,1rem),300);
  	}
 	}
 	.trio{
 		margin-right: 1em;
 		margin-left: 3%;
 		display: flex;
 		width: 46%;
  	justify-content: space-around;
  	align-items: center;
  	.counter{
  		display: flex;
  		align-items: center;
  		img{
  			height: 1.6em;
  		}
  		h1{
  			@include Font(1.1em,100);
        color: black;
        background-color: #b1b2b5;
  	  	padding: 0.2em 0.55em;
  	  	border-radius: 40px;
  		}
  		.left{
  			transform: rotate(180deg);
  		}
  		
  		
  	}
 	}
 
 }

	.content{

		width: 70%;
		height: 60%;
		// background-color: black;
		display: flex;
		// flex-direction: column;
		.net{
			width: 100% !important;
			.taka{
				h1{
					margin-right: 0.5rem;
					margin-left: 0.2rem;
					font-weight: 200;
				}
			}
			// background-color: black !important;
		}
		.bill{
			margin-right: 2em;
		
			width: 70em;
			max-width: 35vw;
			.taka{
				h1{
					font-size: clamp(0.4rem,1vw,2.8rem) !important;
				}
				img{
					font-size: 1.2vw !important;
           height: clamp(0.5rem,0.7vw,1.2rem);
           width: clamp(0.5rem,0.7vw,1.2rem);
				}
			}
			.net{
				// width: 20vw !important;
					// max-width: 35vw;
					margin-right: 0 !important;

  margin-bottom: 1em;
  border-radius: 1px;
  background-color: #ececec;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
   // width: max(20em,70vw) ; 
   // min-width: 24rem;
    height: 2em;
      font-size: clamp(0.6rem,1vw,1.1rem) !important;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .net-header{
      @include Font(0.8em,100);
      margin-left: 1rem;
  }
	}			
			

			.item{
				
        

       
        min-height: 90px;
        
				
				.title{
					h1{
					@include Font(clamp(0.1rem,1.4vw,1.8rem),200  ) ;
					color: #303030 !important;
				}
				}
				.image{
					img{
						height: 5em;
					}
				}
				.trio{
					.count{
						@include Font(0.8rem,100);
					}
				}
			}
		}
	}
	.details{
		width: 100%;
		margin-top: 0.4em;
		.adressed , .delivery-time , .bill-sec , .payment-method{
			background-color: #ececec;
            box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;	
		}
		.adressed{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding-left: 2em;
			height: 9em;
			margin-bottom: 2.5em;
			@include FancyFont(0.75rem,100);
			color: grey;
			.ship-2{
				margin-top: 0.3em;
                color: #3d3d3d;
			}
		
			
		}
		.delivery-time{
			height: 6em;
			display: flex;
			padding-left: 2em;
			align-items: center;
			@include FancyFont(0.75rem,100);
			color: grey;
			.time-1{

			}
			.time-2{
				color: #3d3d3d;
				margin-left: 1em;
			}
		}

	}
	.cont{
		width: 100%;
		height: auto;
		display: flex;
		
		.bill-sec{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 50%;
			height: 16.7em;
			margin-top: 2em;
			.heading{

			    
		    	width: 100%;
		    	display: flex;
		    	justify-content: flex-start;
		    	align-items: center;
		    	h1{
		    	    @include FancyFont(2rem,100);
		    	    color: grey;
		    	    margin-left: 8%;
		    	    margin-bottom: 4%;
		    	}
	        }
	        .titles{
	        	height: 64%;
	        	width: 90%;
	        	display: flex;
	        	flex-direction: column;
	        	align-items: center;
	        	justify-content: space-around;
	        }
			.title{
				display: flex;
				
				width: 80%;
				margin : 0 10%;
				justify-content: space-between;
				.joined{
					width: 55%;
				
					display: flex;
					justify-content: space-between;
				}
				.taka{
					h1{
						font-size:clamp(0.6em,0.8vw,1em) !important;
					}
					img{
            height: clamp(0.6em,0.8vw,1em);
            width: clamp(0.6em,0.8vw,1em);
					}
				}
				.header{
					@include Font(clamp(0.6em,0.8vw,1em),100);
					margin-right: 10%;
				}
				.colon{
					@include Font(1em,400);
				}
			}
		}
		.payment-method{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			
			.radios{
				margin-left: 10%;
				width: 80% ;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				.radio{
					@include Font(clamp(0.6em,0.8vw,1em),300);
					color: grey;
					input{
						accent-color:grey;
						margin-right: 6%;
					}
				}
			}
			.heading{
				margin-left: 10%;
				@include FancyFont(2rem,100);
				color: grey;
				margin-bottom: 4%;
			}
			margin-left: 2em;
			width: 50%;
			height: 10em;
			padding: 2em 0;
			margin-top: 2em;
		}
	}
	.checkout-btn{
		margin-bottom: 5vh;
		background-color: #3d3d3d;
		@include Font(0.7rem,300);
		color: white;
		width: 33em;

		height: 4em;
		border-radius: 4px;
	}
}
.off{
	position: absolute;
	top: 0;
	filter: blur(15px);
	transition: 3s ease-in-out;
}
.poof{
	display: none;
	opacity: 0;
	transition: 1s ease-in-out;
}
.parts-ext{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	
	h1{

	}
	.buttonS{
		display: flex;
		flex-direction: column;
		align-items: center;
		width:73.5%;
		button{
			width: 24em;
			height: 5.8em;
			margin-bottom: 1.6em;
			border-radius: 40px;
			@include Font(0.6rem,100);
			border-width: 2.5px;
			border-style: solid;

		}
	}

}
#btn-explore{
		
		background-color: #525252;
		color: white;
		border-color: #525252;
		
	
	}
#btn-order{
		
		border-color: #525252;
		color: #8f8f8f;
		
	
	}

	@media (width < 1000px) {
		.adressed , .delivery-time{
			font-size: clamp(0.5rem,2vw,0.8rem) !important;
		}
		.bill{
			min-width: 70vw;
		}
		.net{
			min-width: 70vw;
		}
		.content{
			flex-direction: column;
			.bill{
			.item{
				.title{
					h1{
					font-size: clamp(0.2rem,2.1vw,0.9rem) !important;

					}
				}
			}

			}

		}
		.checkout-btn{
			width: 70vw !important;
		}
	}
	@media (width > 1000px) {
		.item{
			font-size: 0.8vw;
		}
		.bill{
				font-size: 1vw;
		}
		
	}