
.cart-page{
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	background-color: #e5e5e5;
  position: relative;
   .net{
  margin-bottom: 1em;
  border-radius: 1px;
  background-color: #ececec;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
   width: max(20em,70vw) ; 
   min-width: 24rem;
    height: 2em;
      font-size: clamp(0.6rem,1vw,1.1rem) !important;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .net-header{
      @include Font(0.8em,100);
      margin-left: 1rem;
  }
// 	  .ashnav-active{
// 	  transition: 1.5s cubic-bezier(.69,.17,.29,.87);
// 	  padding-top: 1%;
//     position: absolute;
//     top: 0;
// 		display: flex;
// 		justify-content: space-between;
//     z-index: 2;
		
// 		width: 100%;
// }
}
.cart{
  margin-top: 9vh;
	height: 10em;
    min-height: 90px;
    font-size: 1vw !important;
	height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
   .items{
  width: auto;
 }

 .item{
  position: relative;
  border-radius: 1px;
  display: flex;
  align-items: center;
   width: max(20em,70vw) ;
    min-width: 24rem;
    height: 10em;
    min-height: 90px;
    margin-right: 0 !important;
   font-size: clamp(0.6rem,1vw,1.1rem) !important;
  background-color: #ececec;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
  margin: 8px 0 ;
  &:hover{
    
    .remover{
      animation-name: side-anime-start;
      animation-duration: 0.8s;
      // animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
  .image {
    font-size: clamp(0.5rem,1vw,1rem);
    margin-left: 3%;
    img {
     height:8em;
    }
  }
  .title{
    width: 34% ;
    h1{
      color:#a0a5ab;
      @include Font(1.6em,300);
    }
  }
  .trio{
    margin-left: 3%;
    display: flex;
    width: 46%;
    justify-content: space-around;
    align-items: center;
    .counter{
      display: flex;
      align-items: center;
      img{
        height: 1.6em;
      }
      h1{
        @include Font(1.1em,100);
        color: black;
        background-color: #b1b2b5;
        padding: 0.2em 0.55em;
        border-radius: 40px;
      }
      .left{
        transform: rotate(180deg);
      }
      
      
    }
  }
  .remover{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        right: 0em;
        width: 12em;
        height: 13rem;
        
        transition: opacity ease-in-out 0.2s;
        .btn{
          display: flex;
          justify-content: center;
          align-items: center;
         background-color: #ececec;
          width: 8em;
          height: 8em;
          border-radius: 8em;
           box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
           img{
            opacity: 0.4;
            width: 30%;
           }
        }
  }
 
 }
 } 
 .zero{
  display: flex;
  align-items: center;
  h1{
    @include Font(1rem,100);
    margin-left: 0.2em;
    margin-right: 0.6em;
  }
  img{
    height: 0.8rem;
  }
 }
 .net{
  margin-bottom: 2em;
  border-radius: 1px;
  background-color: #ececec;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .net-header{
      @include Font(0.8em,100);
      margin-left: 1rem;
  }
  .desc{
  	border-radius: 1px;
    display: flex;
    align-items: center;
    height: 10em;
    min-height: 90px;
    font-size: clamp(5rem,1vw,1.1rem) !important;
  	background-color: #ececec;
  		box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;	
  	h1{
  		@include Font(0.8em,100);
  	}

  	.triplet{
  		display: flex;
  		width: 46%;
  		justify-content: space-around;
  		align-items: center;
  	}
  	.cover{
      margin-left: 4%;
  		width: 16%;
  	}
  	.Product{
  		display: flex;
  		margin-left: 4em;
  		width: 34% ;
  	}
  }

  }
 
 .cart-page{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
//     .ashnav-active{
//     transition: 1.5s cubic-bezier(.69,.17,.29,.87);
//     padding-top: 1%;
//     display: flex;
//     justify-content: space-between;
//     z-index: 2;
    
//     width: 100%;
// }
}
.cart{
  .taka{
    h1{
      font-size: clamp(0.5rem,1vw,1rem) !important;
    }
    img{
      height: clamp(0.5rem,1vw,1rem) ;
      width: clamp(0.5rem,1vw,1rem);
    }
  }
  // width: clamp(60em, 80vw, 94em);
  height: auto;
   .item{
  border-radius: 1px;
  display: flex;
  align-items: center;
  // width: 100%;
  // height: 13em;
  background-color: #ececec;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
  margin: 8px 0 ;
  .image {
    width: 17%;
    margin-left: 3%;
    img {
     height:8em;
    }
  }
  .title{
    width: 34% ;
    h1{
      color:#a0a5ab;
      @include Font(1.6em,300);
    }
  }
  .trio{
    margin-left: 3%;
    display: flex;
    width: 46%;
    justify-content: space-around;
    align-items: center;
    .counter{
      display: flex;
      align-items: center;
      img{
        height: 1.6em;
      }
      h1{
        @include Font(1.1em,100);
        color: black;
        background-color: #b1b2b5;
        padding: 0.2em 0.55em;
        border-radius: 40px;
      }
      .left{
        transform: rotate(180deg);
      }
      
      
    }
  }
 
 }

  .desc{
    border-radius: 1px;
    display: flex;
    align-items: center;
    width: max(20em,70vw) ;
    min-width: 24rem;
    height: 2em;
    font-size: clamp(0.6rem,1vw,1.1rem) !important;
    background-color: #ececec;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
    h1{
      @include Font(0.8em,100);
    }

    .triplet{
      display: flex;
      width: 46%;
      justify-content: space-around;
      align-items: center;
    }
    .cover{
      margin-left: 4%;
      width: 16%;
    }
    .Product{
      display: flex;
      margin-left: 4em;
      width: 34% ;
    }
  }
 } 

 .zero{
  display: flex;
  align-items: center;
  h1{
    @include Font(1rem,100);
    margin-left: 0.2em;
    margin-right: 0.6em;
  }
  img{
    height: 0.8rem;
  }
 }


 }
  .buy-but{
     min-width: 24rem;
    width: 70vw;
     padding: 1em 48.6%;
     background-color: #2d2d2d;
     border-radius: 2px;
     color: white;
     font-size: clamp(0.6rem,1vw,1rem);
    
}