
#non-stick{
    position: absolute;
    margin-top: 0;
}
.nav-contain{
   
    position: sticky;
    top: 0;
    margin-top: -18em;
    // margin-top: -16em;

	display: flex;
	align-items: flex-start;
    justify-content: space-between;
	height: 10em;
	width: 100vw;
	
    z-index: 2;
	// background-color: blue;
    .rhino-logo{
        font-size: clamp(0.4rem,0.6vw,0.9rem);
         height: 6.5em;
         display: flex;
         margin-left: clamp(0.8rem,2vw,2rem);
         margin-top: clamp(0.3rem,1.1vw,0.9rem);
         align-items: center;
         // background-color: black;
         position: relative;
          @media (width<600px) {
             font-size: clamp(0.5rem,1vw,0.7rem);

          }
         a{
          position: absolute;
          width: 100%;
          height: 100%;
         }
         .rhino{
         	height:50%;
         	
         }
    }
    .nav-text{
        // position: sticky;
    	display: flex;
    	justify-content: space-around;
    	align-items: center;
    	width: clamp(13rem,30vw,36rem);
    	height: 4.8rem;
    	margin-top: min(1.3vw,1.3rem);
    	
        
    	@include FancyFont(clamp(0.5rem,0.65vw,1rem),100);
        @media (width<600px) {
           font-size: clamp(0.36rem,1.2vw,0.5rem);           
            width: clamp(8rem,40vw,30rem);
            height: clamp(3rem,5.2vw,4.8rem);
        }
    }
    .none{
        

        animation-name: goner;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        display: none;


    }
    .searcher{
        font-size: clamp(0.7rem,0.9vw,1rem);
    	display: flex;
    	height: 5.8em;
    	width: 40vw;
        margin-right: 2vw;
    	margin-top: clamp(1.6rem,1.6vw,2.5rem);
    	
       
         input{
             opacity: 0.85;
            @include Font(inherit,100);
         	width: 80%;
            height: fixed;
         	background-color: white;
         	border-radius: 100px;
         	padding-left: 5%;
         	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
               order: 1;
         }
         .submit{
            font-size: inherit;
             opacity: 0.85;
           width: 5.8em;
           height: 5.8em;
         	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
            border-radius: 1000em !important;
            margin-right: 2%;
            background-color: white;
            display: flex;
         		justify-content: center;
         		align-items: center;
         	button{

         		width: 5.2em;
                
         		border-radius: 100000px;
         		height: 5.2em;
         		background-color: white;
         		img{
         			width:30%;

         		}
         	}
         }
    }
    
    .icon-nav{
    	// overflow:hidden ;
        width: 3em;
        margin-right: 1vw;
        height: 15em;
        display: flex;
        flex-direction: column;
        margin-top: clamp(1.6rem,1.6vw,2.5rem);
        position: relative;
        @media (width<600px) {
            margin-top: clamp(0.8rem,1.8vw,2.4rem)
        }
        &:nth-child(1){
           background-color: white;

        }
    }
        .icon-conts{
           height: 33.333%;
           position: relative;
           img{
           	height: 56%;
           }
           .notify{
             display: flex;
             justify-content: center;
             align-items: center;
             position: absolute;
             top: -0.4em;
             right: -0.2em;
             width: 1.4em;
             height: 1.4em;
             border-radius: 1000px;
             background-color: red;
             @include FancyFont(0.75rem,100);
             color: white;
           }
        }
        .ash{
            border-color: #8f8f8f !important;
            border-width: 0.18em !important;
        }
        .pfp{
            height: 52.5% !important;
            border-radius: 30px;
            border-style: solid;
            border-width: 0.2em;
            border-color: white;
        }
        .squeeze{
            animation-name: nav;
            animation-duration: 1s;
             animation-fill-mode: forwards;
            animation-name: nav2;
        }
    .lefted{
         animation-name: side-e-bhaya-2;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

}
.ash{
    color: #525252;
}
.white{
    color: white;
}
.appear{
        animation-name: appeared;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
}
.flee{
    animation-name: goner;
        animation-duration: 1s;
        animation-fill-mode: forwards;
}
.lost{
    opacity: 0;

    transition-duration:0.2s ;
    transition-timing-function: ease-in-out;

}
#less{
    display: none;
}
.invisible{
    opacity: 0;
}
.active{
      position: absolute;
       
      transition: 1s cubic-bezier(.69,.17,.29,.87);
      transition-delay:2.45s ;
        margin-top: 0%;
        width: 100%;
        z-index: 2;
    }
.inactive{
    position: absolute;
      transition: 1.5s cubic-bezier(.69,.17,.29,.87);
      margin-top: -20em;
      
    z-index: 2;
        
        width: 100%;
}
@media (width < 1000px) {
    .nav-contain{
    .nav-text{
        // background-color: red;
    }
    .searcher{
        display: none !important;
    }
        
    }
}
@media (width>1600px) {
    .icon-nav{
        margin-top: 2rem !important;
        margin-right: 2rem !important;
    }
    
}
@media (width<650px) {
    .icon-nav{
        font-size: 0.8rem;
        .notify{
            font-size: 0.66rem !important;
        }
    }
    
}
@media (width<650px) {
.icon-nav{
    font-size: 0.6rem;
    .notify{
       font-size: 0.5rem;
    }
}
}