
.logo{
		margin-left: 1.4%;
		img{
			width:5em;
		}
	}
	.textnav-ash{
		width: 35em;

		display: flex;
		justify-content: space-between;
		@include FancyFont(0.6em,300);
		color: #2d2d2d;
		margin-top: 1.1%;
	}
	.textnav-white{
		width: 35em;

		display: flex;
		justify-content: space-between;
		@include FancyFont(0.6em,300);
		color: white;
		margin-top: 1.1%;
	}
	.sidenav{

		  width: 3em;
		  height: 9.4em;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		.imgs{
			width: 3em;
			height: 2.2em;
		}
		img{
			height: 2.2em;

		}
	}
	 .ashnav-active{
	 	top:0;
	  transition: 1.5s cubic-bezier(.69,.17,.29,.87);
	  // margin-top: -20em;
	  margin-top: 1.3em;
		display: flex;
		justify-content: space-between;
    z-index: 2;
		position: absolute;
		width: 100%;
}

