.order-page{
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	 .orders{
  width: 66%;
  
  margin-top: max(12vh,100px);
 }
 .order{
   min-width: 38em !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .deliver{
  margin-left: 2.2vw;
  width: 25%;
  min-width: 7rem;
  max-height: 11rem;
  min-height: 4rem;
  height: 12.5em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; 
  @include FancyFont(clamp(0.28rem,0.68vw,0.8rem),100);
  display: flex;
  flex-direction:column ;
  text-align: left;
  justify-content: center;
  align-items: center;

  .center{
    display: flex;
    flex-direction: column;
  }
  .deliver-time{
    display: flex;
    margin-bottom: 1em;
 
    h1{
       margin: 0 0.2em;
    }
  } 
  .order-time{
    display: flex;
    h1{
        margin: 0 0.2em;
    }
 
  } 
 }

 .item{
  border-radius: 5px;
 	display: flex;
 	align-items: center;
 	width: 75%;
  min-width: 66em;
 	height: 10em;
   font-size:  	clamp(0.18rem,0.68vw,0.8rem);
  max-height: 11rem;
  min-height: 4rem;
  height: 12.5em;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;	
  margin: 1em 0 ;
 	.image {
 		width: 17%;
    max-width: 6em;
    overflow: hidden;
    height: 70%;
    min-width: 25px;
 		margin-left: 4%;
 		img {
 	   width:105%;
 	  }
 	}
 	.title{
 		width: 34% ;
    margin-left: 6em;
 		h1{
 			
  		@include Font(2.6em,300);
  	}
 	}
 	.trio{
    margin-right: 5px;
 		margin-left: 3%;
 		display: flex;
 		width: 46%;
  	justify-content: space-around;
  	align-items: center;
    .taka{
      h1{
      font-weight: 100 !important;
      margin-left: 3px;
      }
      img{
        font-size: (0.8rem,1.2vw,1.4rem) !important;
        width: 1.4em;
        height: 1.4em;
      }
    }
  	.counter{
  		display: flex;
  		align-items: center;
  		img{
  			height: 1.6em;
  		}
  		h1{
  			font-size: 90%;
  		}
  		.left{
  			transform: rotate(180deg);
  		}
  		
  		
  	}
 	}
 
 }
}
  .header-cont{
    min-width: 8px;
    min-height: 8px;

}

.purpled{
  background-color: #a600ff;
  h1{

  color: white;
  }
  .title{
    h1{
      color: white !important;
    }
  }
  .counter-cont{
    .header-cont{

    background-color: #eeeff0 ;
    h1{
      color:  #a600ff;
    }
    }
  }
}
.ash{
  .title{
    h1{
        color:#a0a5ab; 
    }
  }
  background-color: #ececec;
  .info-title{
      color: #848481;
    }
     .time{
      color: #b3b3b3;
    }
}