.page3{
	height: 70vh;
	width: 100vw;
	background-color: #19001E;
	display: flex;
	align-items:center;
	justify-content: center;
	.description{
		// background-color: bisque;
		height: 30em;
		width: 35em;
		margin-left: 6vw;
		display: flex;
		flex-direction: column;
		justify-content:center;
		h1{
			font-family: 'Bangers', cursive;
			color: white;
			font-weight: 400;
		}
		.heading{
            font-size: 4em;
            margin-bottom: 3em;
		}
		.discon{
			font-size: 1.4em;
			margin-bottom: 0.2em;
		}
		.subheading{
			margin-bottom: 1em;
		}
		button{
			font-size: 0.65em;
            width: 15em;
            height: 4.5em;
            border-radius:5px;
            color: #19001E ;

		}
	}
}
.populars{
		
		height: auto;
		width: 65em;
		margin-left: 4vw;
		display: flex;
		align-items:center;


		.card{
			background-color: white;
			margin: 2px;
			font-size: max(1.45vw,1rem);
            height: 12em;
            width: 9em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            .card-image{
            	
            	height: 6em;
            	margin-bottom: 0.4em;
            }
            .price-icon{
            	height: 0.8em;
            }
            .card-title{
              font-family: 'Manrope', sans-serif;
		          font-weight: 100;
		          font-size: 0.8em;   
		          margin-bottom: 0.3em; 
            }
            .card-price{
              font-family: 'Manrope', sans-serif;
		      font-weight: 100;
		      font-size: 0.6em;
		      margin-left: 4px;
            }
            .price{
            	display: flex;
            	align-items:center;

            }

		}
	}
@media (width<1000px){
	.out{
		opacity: 0;
		margin-left: 250px !important;
    	transition: margin 0.25s ease-in-out;
    		transition: opacity 0.25s ease-in-out;
	}
	.card{
		transition: margin 0.25s ease-in-out;
		
	}
	.page3{
		height: auto;
		min-height: 70vh;
      flex-direction: column;
      .description{
      	margin-top: 14vh;
      	align-items: center;
      	margin-left: 0;
      	margin-bottom: 8vh;
      	.heading{
      		margin-bottom: 2em;
      	}
      }
      .populars{
      	flex-direction: column;
      	margin-left: 0;
      	.card{
      		border-radius: 1px;
      		height: 23em;
      		width: 16em;
      		margin-bottom: 6vh;
      		.card-image{
      			margin-top: 1.5em;
      			height: 11em;
      			margin-bottom: 1.4em;
      		}
      		.card-title{
      			font-size: 1.2em;
      		}
      		.price-icon{
             height: 1.3em;
      		}
      		.card-price{
      			font-size: 1em;
      		}

      	}
      }
	}
}
